<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.CaozhongObjDao">
    <resultMap id="caozhongobj" type="com.liangxunwang.unimanager.model.CaozhongObj">
        <id column="cloud_caozhong_id" property="cloud_caozhong_id"/>
        <result column="emp_id" property="emp_id"/>
        <result column="cloud_caozhong_title" property="cloud_caozhong_title"/>
        <result column="cloud_caozhong_content" property="cloud_caozhong_content"/>
        <result column="cloud_caozhong_prices" property="cloud_caozhong_prices"/>
        <result column="cloud_caozhong_guige_id" property="cloud_caozhong_guige_id"/>
        <result column="cloud_caozhong_pic" property="cloud_caozhong_pic"/>
        <result column="cloud_caozhong_type_id" property="cloud_caozhong_type_id"/>
        <result column="cloud_caozhong_address" property="cloud_caozhong_address"/>
        <result column="cloud_caozhong_dateline" property="cloud_caozhong_dateline"/>
        <result column="cloud_caozhong_is_use" property="cloud_caozhong_is_use"/>
        <result column="cloud_caozhong_is_del" property="cloud_caozhong_is_del"/>
        <result column="lat" property="lat"/>
        <result column="lng" property="lng"/>
        <result column="sale_count" property="sale_count"/>

        <result column="emp_name" property="emp_name"/>
        <result column="emp_cover" property="emp_cover"/>
        <result column="cloud_caozhong_guige_cont" property="cloud_caozhong_guige_cont"/>
        <result column="cloud_caozhong_type_cont" property="cloud_caozhong_type_cont"/>
    </resultMap>

    <select id="lists" resultMap="caozhongobj">
        SELECT sn.*,le.emp_name as emp_name, le.emp_cover as emp_cover,lgg.cloud_caozhong_guige_cont as cloud_caozhong_guige_cont
        ,ltype.cloud_caozhong_type_cont as cloud_caozhong_type_cont
        from cloud_caozhong sn
        LEFT JOIN lx_emp le ON le.emp_id = sn.emp_id
        LEFT JOIN cloud_caozhong_guige lgg ON lgg.cloud_caozhong_guige_id = sn.cloud_caozhong_guige_id
        LEFT JOIN cloud_caozhong_type ltype ON ltype.cloud_caozhong_type_id = sn.cloud_caozhong_type_id
        where 1 = 1
        <if test="emp_id != null and emp_id != ''">
            AND sn.emp_id = #{emp_id}
        </if>

        <if test="cloud_caozhong_guige_id != null and cloud_caozhong_guige_id != ''">
            AND sn.cloud_caozhong_guige_id = #{cloud_caozhong_guige_id}
        </if>

        <if test="cloud_caozhong_type_id != null and cloud_caozhong_type_id != ''">
            AND sn.cloud_caozhong_type_id = #{cloud_caozhong_type_id}
        </if>
        <if test="cloud_caozhong_is_use != null and cloud_caozhong_is_use != ''">
            AND sn.cloud_caozhong_is_use = #{cloud_caozhong_is_use}
        </if>
        <if test="cloud_caozhong_is_del != null and cloud_caozhong_is_del != ''">
            AND sn.cloud_caozhong_is_del = #{cloud_caozhong_is_del}
        </if>

        <if test="keyWords !=null and keyWords !=''">
            AND (sn.cloud_caozhong_title like CONCAT('%',#{keyWords},'%') OR sn.cloud_caozhong_content like CONCAT('%',#{keyWords},'%') OR sn.cloud_caozhong_address like CONCAT('%',#{keyWords},'%') OR le.emp_name like CONCAT('%',#{keyWords},'%') )
        </if>

        <if test="lat != null and lat != ''">
            AND sn.lat > (#{lat}-1) AND   (#{lat} + 1) > sn.lat
        </if>
        <if test="lng != null and lng != ''">
            AND sn.lng > (#{lng}-1) AND   (#{lng} + 1) > sn.lng
        </if>
         <if test="is_time != null and is_time != '' and is_time == '1'">
             ORDER BY sn.cloud_caozhong_dateline DESC
        </if>
        <if test="is_count != null and is_count != '' and is_count == '1'">
             ORDER BY sn.sale_count DESC
        </if>
        limit #{index},#{size}
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.CaozhongObj">
        INSERT INTO cloud_caozhong(cloud_caozhong_id, emp_id, cloud_caozhong_title, cloud_caozhong_content,cloud_caozhong_prices , cloud_caozhong_guige_id, cloud_caozhong_pic, cloud_caozhong_type_id, cloud_caozhong_address ,cloud_caozhong_dateline , cloud_caozhong_is_use, cloud_caozhong_is_del, lat,lng )
        VALUES (#{cloud_caozhong_id}, #{emp_id}, #{cloud_caozhong_title}, #{cloud_caozhong_content}, #{cloud_caozhong_prices}, #{cloud_caozhong_guige_id}, #{cloud_caozhong_pic}, #{cloud_caozhong_type_id}, #{cloud_caozhong_address}, #{cloud_caozhong_dateline}, #{cloud_caozhong_is_use}, #{cloud_caozhong_is_del}, #{lat}, #{lng})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM cloud_caozhong where cloud_caozhong_id = #{cloud_caozhong_id}
    </delete>

    <select id="findById" parameterType="String" resultMap="caozhongobj">
      SELECT sn.*,le.emp_name as emp_name, le.emp_cover as emp_cover,lgg.cloud_caozhong_guige_cont as cloud_caozhong_guige_cont
        ,ltype.cloud_caozhong_type_cont as cloud_caozhong_type_cont
        from cloud_caozhong sn
        LEFT JOIN lx_emp le ON le.emp_id = sn.emp_id
        LEFT JOIN cloud_caozhong_guige lgg ON lgg.cloud_caozhong_guige_id = sn.cloud_caozhong_guige_id
        LEFT JOIN cloud_caozhong_type ltype ON ltype.cloud_caozhong_type_id = sn.cloud_caozhong_type_id
         where sn.cloud_caozhong_id=#{cloud_caozhong_id}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.CaozhongObj">
        UPDATE cloud_caozhong_guige SET cloud_caozhong_title=#{cloud_caozhong_title},
        cloud_caozhong_content=#{cloud_caozhong_content},
        cloud_caozhong_prices=#{cloud_caozhong_prices},
        cloud_caozhong_guige_id=#{cloud_caozhong_guige_id},
        cloud_caozhong_type_id=#{cloud_caozhong_type_id},
        cloud_caozhong_content=#{cloud_caozhong_content},
        cloud_caozhong_is_use=#{cloud_caozhong_is_use},
        cloud_caozhong_is_del=#{cloud_caozhong_is_del}
         WHERE cloud_caozhong_id=#{cloud_caozhong_id}
    </update>
</mapper>