<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.CpCaozhongguigeDao">
    <resultMap id="cpczguige" type="com.liangxunwang.unimanager.model.CpCaozhongguige">
        <id column="cloud_caozhong_guige_id" property="cloud_caozhong_guige_id"/>
        <result column="cloud_caozhong_guige_cont" property="cloud_caozhong_guige_cont"/>
        <result column="cloud_caozhong_guige_num" property="cloud_caozhong_guige_num"/>
    </resultMap>

    <select id="lists" resultMap="cpczguige">
        SELECT * from cloud_caozhong_guige
        ORDER BY cloud_caozhong_guige_num DESC
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.CpCaozhongguige">
        INSERT INTO cloud_caozhong_guige(cloud_caozhong_guige_id, cloud_caozhong_guige_cont, cloud_caozhong_guige_num)
        VALUES (#{cloud_caozhong_guige_id}, #{cloud_caozhong_guige_cont}, #{cloud_caozhong_guige_num})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM cloud_caozhong_guige where cloud_caozhong_guige_id = #{cloud_caozhong_guige_id}
    </delete>

    <select id="findById" parameterType="String" resultMap="cpczguige">
        SELECT * FROM cloud_caozhong_guige where cloud_caozhong_guige_id=#{cloud_caozhong_guige_id}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.CpCaozhongguige">
        UPDATE cloud_caozhong_guige SET cloud_caozhong_guige_cont=#{cloud_caozhong_guige_cont},
        cloud_caozhong_guige_num=#{cloud_caozhong_guige_num}
         WHERE cloud_caozhong_guige_id=#{cloud_caozhong_guige_id}
    </update>
</mapper>