<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.CpObjDao">
    <resultMap id="cpobj" type="com.liangxunwang.unimanager.model.CpObj">
        <id column="cloud_caoping_id" property="cloud_caoping_id"/>
        <result column="emp_id" property="emp_id"/>
        <result column="cloud_caoping_title" property="cloud_caoping_title"/>
        <result column="cloud_caoping_content" property="cloud_caoping_content"/>
        <result column="cloud_caoping_prices" property="cloud_caoping_prices"/>
        <result column="cloud_caoping_guige_id" property="cloud_caoping_guige_id"/>
        <result column="cloud_caoping_pic" property="cloud_caoping_pic"/>
        <result column="cloud_caoping_type_id" property="cloud_caoping_type_id"/>
        <result column="cloud_caoping_use_id" property="cloud_caoping_use_id"/>
        <result column="cloud_caoping_address" property="cloud_caoping_address"/>
        <result column="cloud_caoping_dateline" property="cloud_caoping_dateline"/>
        <result column="cloud_caoping_is_use" property="cloud_caoping_is_use"/>
        <result column="cloud_caoping_is_del" property="cloud_caoping_is_del"/>
        <result column="lat" property="lat"/>
        <result column="lng" property="lng"/>
        <result column="sale_count" property="sale_count"/>

        <result column="emp_name" property="emp_name"/>
        <result column="emp_cover" property="emp_cover"/>
        <result column="cloud_caoping_guige_cont" property="cloud_caoping_guige_cont"/>
        <result column="cloud_caoping_type_cont" property="cloud_caoping_type_cont"/>
        <result column="cloud_caoping_use_cont" property="cloud_caoping_use_cont"/>
    </resultMap>

    <select id="lists" resultMap="cpobj">
        SELECT sn.*,le.emp_name as emp_name, le.emp_cover as emp_cover,lgg.cloud_caoping_guige_cont as cloud_caoping_guige_cont
        ,luse.cloud_caoping_use_cont as cloud_caoping_use_cont,ltype.cloud_caoping_type_cont as cloud_caoping_type_cont
        from cloud_caoping sn
        LEFT JOIN lx_emp le ON le.emp_id = sn.emp_id
        LEFT JOIN cloud_caoping_guige lgg ON lgg.cloud_caoping_guige_id = sn.cloud_caoping_guige_id
        LEFT JOIN cloud_caoping_use luse ON luse.cloud_caoping_use_id = sn.cloud_caoping_use_id
        LEFT JOIN cloud_caoping_type ltype ON ltype.cloud_caoping_type_id = sn.cloud_caoping_type_id
        where 1 = 1
        <if test="emp_id != null and emp_id != ''">
            AND sn.emp_id = #{emp_id}
        </if>

        <if test="cloud_caoping_guige_id != null and cloud_caoping_guige_id != ''">
            AND sn.cloud_caoping_guige_id = #{cloud_caoping_guige_id}
        </if>

        <if test="cloud_caoping_use_id != null and cloud_caoping_use_id != ''">
            AND sn.cloud_caoping_use_id = #{cloud_caoping_use_id}
        </if>

        <if test="cloud_caoping_type_id != null and cloud_caoping_type_id != ''">
            AND sn.cloud_caoping_type_id = #{cloud_caoping_type_id}
        </if>
        <if test="cloud_caoping_is_use != null and cloud_caoping_is_use != ''">
            AND sn.cloud_caoping_is_use = #{cloud_caoping_is_use}
        </if>
        <if test="cloud_caoping_is_del != null and cloud_caoping_is_del != ''">
            AND sn.cloud_caoping_is_del = #{cloud_caoping_is_del}
        </if>

        <if test="lat != null and lat != ''">
            AND sn.lat > (#{lat}-1) AND   (#{lat} + 1) > sn.lat
        </if>
        <if test="lng != null and lng != ''">
            AND sn.lng > (#{lng}-1) AND   (#{lng} + 1) > sn.lng
        </if>
         <if test="is_time != null and is_time != '' and is_time == '1'">
             ORDER BY sn.cloud_caoping_dateline DESC
        </if>
        <if test="is_count != null and is_count != '' and is_count == '1'">
             ORDER BY sn.sale_count DESC
        </if>
        limit #{index},#{size}
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.CpObj">
        INSERT INTO cloud_caoping(cloud_caoping_id, emp_id, cloud_caoping_title, cloud_caoping_content,cloud_caoping_prices , cloud_caoping_guige_id, cloud_caoping_pic, cloud_caoping_type_id, cloud_caoping_use_id,cloud_caoping_address ,cloud_caoping_dateline , cloud_caoping_is_use, cloud_caoping_is_del, lat,lng )
        VALUES (#{cloud_caoping_id}, #{emp_id}, #{cloud_caoping_title}, #{cloud_caoping_content}, #{cloud_caoping_prices}, #{cloud_caoping_guige_id}, #{cloud_caoping_pic}, #{cloud_caoping_type_id}, #{cloud_caoping_use_id}, #{cloud_caoping_address}, #{cloud_caoping_dateline}, #{cloud_caoping_is_use}, #{cloud_caoping_is_del}, #{lat}, #{lng})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM cloud_caoping where cloud_caoping_id = #{cloud_caoping_id}
    </delete>

    <select id="findById" parameterType="String" resultMap="cpobj">
      SELECT sn.*,le.emp_name as emp_name, le.emp_cover as emp_cover,lgg.cloud_caoping_guige_cont as cloud_caoping_guige_cont
        ,luse.cloud_caoping_use_cont as cloud_caoping_use_cont,ltype.cloud_caoping_type_cont as cloud_caoping_type_cont
        from cloud_caoping sn
        LEFT JOIN lx_emp le ON le.emp_id = sn.emp_id
        LEFT JOIN cloud_caoping_guige lgg ON lgg.cloud_caoping_guige_id = sn.cloud_caoping_guige_id
        LEFT JOIN cloud_caoping_use luse ON luse.cloud_caoping_use_id = sn.cloud_caoping_use_id
        LEFT JOIN cloud_caoping_type ltype ON ltype.cloud_caoping_type_id = sn.cloud_caoping_type_id
         where sn.cloud_caoping_id=#{cloud_caoping_id}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.CpObj">
        UPDATE cloud_caoping_guige SET cloud_caoping_title=#{cloud_caoping_title},
        cloud_caoping_content=#{cloud_caoping_content},
        cloud_caoping_prices=#{cloud_caoping_prices},
        cloud_caoping_guige_id=#{cloud_caoping_guige_id},
        cloud_caoping_type_id=#{cloud_caoping_type_id},
        cloud_caoping_use_id=#{cloud_caoping_use_id},
        cloud_caoping_content=#{cloud_caoping_content},
        cloud_caoping_is_use=#{cloud_caoping_is_use},
        cloud_caoping_is_del=#{cloud_caoping_is_del}
         WHERE cloud_caoping_id=#{cloud_caoping_id}
    </update>
</mapper>