<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.OrderDao">
    <resultMap id="order" type="com.liangxunwang.unimanager.model.Order">
        <id column="order_no" property="order_no"/>
        <result column="cloud_caoping_id" property="cloud_caoping_id"/>
        <result column="emp_id" property="emp_id"/>
        <result column="seller_emp_id" property="seller_emp_id"/>
        <result column="PROVINCEID" property="provinceId"/>
        <result column="CITYID" property="cityId"/>
        <result column="AREAID" property="areaId"/>
        <result column="address_id" property="address_id"/>
        <result column="goods_count" property="goods_count"/>
        <result column="payable_amount" property="payable_amount"/>
        <result column="create_time" property="create_time"/>
        <result column="pay_time" property="pay_time"/>
        <result column="send_time" property="send_time"/>
        <result column="accept_time" property="accept_time"/>
        <result column="completion_time" property="completion_time"/>
        <result column="status" property="status"/>
        <result column="pay_status" property="pay_status"/>
        <result column="distribution_type" property="distribution_type"/>
        <result column="distribution_status" property="distribution_status"/>
        <result column="postscript" property="postscript"/>
        <result column="point" property="point"/>
        <result column="trade_no" property="trade_no"/>
        <result column="invoice" property="invoice"/>
        <result column="invoice_title" property="invoice_title"/>
        <result column="taxes" property="taxes"/>
        <result column="out_trade_no" property="out_trade_no"/>
        <result column="isAccount" property="isAccount"/>
        <result column="trade_type" property="trade_type"/>
        <result column="returnMsg" property="returnMsg"/>
        <result column="returnOrder" property="returnOrder"/>
        <result column="is_comment" property="is_comment"/>
        <result column="is_return" property="is_return"/>
        <result column="is_dxk_order" property="is_dxk_order"/>
        <result column="is_dxk_order" property="is_dxk_order"/>
    </resultMap>

    <resultMap id="my_order_vo" type="com.liangxunwang.unimanager.mvc.vo.OrdersVO">
        <id column="order_no" property="order_no"/>
        <result column="cloud_caoping_id" property="cloud_caoping_id"/>
        <result column="emp_id" property="emp_id"/>
        <result column="seller_emp_id" property="seller_emp_id"/>
        <result column="PROVINCEID" property="provinceId"/>
        <result column="CITYID" property="cityId"/>
        <result column="AREAID" property="areaId"/>
        <result column="address_id" property="address_id"/>
        <result column="goods_count" property="goods_count"/>
        <result column="payable_amount" property="payable_amount"/>
        <result column="create_time" property="create_time"/>
        <result column="pay_time" property="pay_time"/>
        <result column="send_time" property="send_time"/>
        <result column="accept_time" property="accept_time"/>
        <result column="completion_time" property="completion_time"/>
        <result column="status" property="status"/>
        <result column="pay_status" property="pay_status"/>
        <result column="distribution_type" property="distribution_type"/>
        <result column="distribution_status" property="distribution_status"/>
        <result column="postscript" property="postscript"/>
        <result column="point" property="point"/>
        <result column="trade_no" property="trade_no"/>
        <result column="invoice" property="invoice"/>
        <result column="invoice_title" property="invoice_title"/>
        <result column="taxes" property="taxes"/>
        <result column="out_trade_no" property="out_trade_no"/>
        <result column="isAccount" property="isAccount"/>

        <result column="trade_type" property="trade_type"/>
        <result column="returnMsg" property="returnMsg"/>
        <result column="returnOrder" property="returnOrder"/>
        <result column="is_comment" property="is_comment"/>
        <result column="is_return" property="is_return"/>
        <result column="is_dxk_order" property="is_dxk_order"/>
        <result column="is_dxk_order" property="is_dxk_order"/>

        <result column="emp_mobile" property="emp_mobile"/>
        <result column="emp_name" property="emp_name"/>
        <result column="emp_cover" property="emp_cover"/>

        <result column="emp_mobile_seller" property="emp_mobile_seller"/>
        <result column="emp_name_seller" property="emp_name_seller"/>
        <result column="emp_cover_seller" property="emp_cover_seller"/>

        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="areaName" property="areaName"/>
        <result column="cloud_caoping_title" property="cloud_caoping_title"/>
        <result column="cloud_caoping_pic" property="cloud_caoping_pic"/>
        <result column="cloud_caoping_address" property="cloud_caoping_address"/>
        <result column="cloud_caoping_prices" property="cloud_caoping_prices"/>
    </resultMap>

    <resultMap id="settlement" type="com.liangxunwang.unimanager.model.Settlement">
        <result column="date" property="date"/>
        <result column="rate" property="rate"/>
        <result column="income" property="income"/>
        <result column="isAccount" property="isAccount"/>
    </resultMap>

    <select id="listOrders" resultMap="my_order_vo">
        SELECT ord.* ,
        le.emp_mobile as emp_mobile,
        le.emp_name as emp_name,
        le.emp_cover as emp_cover,

        les.emp_mobile as emp_mobile_seller,
        les.emp_name as emp_name_seller,
        les.emp_cover as emp_cover_seller,

        lg.cloud_caoping_title as cloud_caoping_title,
        lg.cloud_caoping_pic as cloud_caoping_pic,
        lg.cloud_caoping_address as cloud_caoping_address,
        lg.cloud_caoping_prices as cloud_caoping_prices,
        lpro.pname as provinceName,
        lcity.cityName as cityName,
        larea.areaName as areaName

        from PAOPAO_SHOPPING_ORDER ord
        LEFT JOIN lx_emp le ON ord.emp_id=le.emp_id
        LEFT JOIN lx_emp les ON ord.seller_emp_id=les.emp_id
        LEFT JOIN cloud_caoping lg ON ord.cloud_caoping_id=lg.cloud_caoping_id
        LEFT JOIN province lpro ON lpro.provinceid=ord.PROVINCEID
        LEFT JOIN city lcity ON lcity.cityid=ord.CITYID
        LEFT JOIN area larea ON larea.areaid=ord.AREAID
        WHERE '1'='1' AND pso.STATUS != '1'
        <if test="emp_id != null and emp_id != ''">
            AND ord.emp_id=#{emp_id}
        </if>
        <if test="seller_emp_id != null and seller_emp_id != ''">
            AND ord.seller_emp_id=#{seller_emp_id}
        </if>
        <if test="status != null and status != ''">
            AND ord.status = #{status}
        </if>
        <if test="pay_status != null and pay_status != ''">
            AND ord.pay_status = #{pay_status}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            AND ord.STATUS = #{orderStatus}
        </if>
        <if test="is_comment != null and is_comment != ''">
            AND ord.is_comment = #{is_comment}
        </if>
        <if test="distribStatus != null and distribStatus != ''">
            AND ord.DISTRIBUTION_STATUS = #{distribStatus}
        </if>
        <if test="startTime != null and startTime != ''">
            AND ord.COMPLETION_TIME &gt; #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND ord.COMPLETION_TIME &lt; #{endTime}
        </if>
        <if test="trade_type != null and trade_type != ''">
            AND ord.trade_type = #{trade_type}
        </if>

        <if test="is_zhiying != null and is_zhiying != ''">
            AND lg.is_zhiying = #{is_zhiying}
        </if>

     ORDER BY ord.create_time DESC
      limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(ord.ORDER_NO) FROM PAOPAO_SHOPPING_ORDER ord
        LEFT JOIN lx_emp le ON ord.emp_id=le.emp_id
        LEFT JOIN lx_emp les ON ord.seller_emp_id=les.emp_id
        LEFT JOIN cloud_caoping lg ON ord.cloud_caoping_id=lg.cloud_caoping_id
        LEFT JOIN province lpro ON lpro.provinceid=ord.PROVINCEID
        LEFT JOIN city lcity ON lcity.cityid=ord.CITYID
        LEFT JOIN area larea ON larea.areaid=ord.AREAID
        WHERE '1'='1' AND ord.STATUS != '1'
        <if test="emp_id != null and emp_id != ''">
            AND ord.emp_id=#{emp_id}
        </if>
        <if test="seller_emp_id != null and seller_emp_id != ''">
            AND ord.seller_emp_id=#{seller_emp_id}
        </if>
        <if test="status != null and status != ''">
            AND ord.status = #{status}
        </if>
        <if test="pay_status != null and pay_status != ''">
            AND ord.pay_status = #{pay_status}
        </if>

        <if test="is_comment != null and is_comment != ''">
            AND ord.is_comment = #{is_comment}
        </if>
        <if test="distribStatus != null and distribStatus != ''">
            AND ord.DISTRIBUTION_STATUS = #{distribStatus}
        </if>
        <if test="startTime != null and startTime != ''">
            AND ord.COMPLETION_TIME &gt; #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND ord.COMPLETION_TIME &lt; #{endTime}
        </if>
        <if test="trade_type != null and trade_type != ''">
            AND ord.trade_type = #{trade_type}
        </if>

        <if test="is_zhiying != null and is_zhiying != ''">
            AND lg.is_zhiying = #{is_zhiying}
        </if>
    </select>

    <select id="findById" resultMap="my_order_vo" parameterType="String">
         SELECT ord.* ,
        le.emp_mobile as emp_mobile,
        le.emp_name as emp_name,
        le.emp_cover as emp_cover,

        les.emp_mobile as emp_mobile_seller,
        les.emp_name as emp_name_seller,
        les.emp_cover as emp_cover_seller,

        lg.cloud_caoping_title as cloud_caoping_title,
        lg.cloud_caoping_pic as cloud_caoping_pic,
        lg.cloud_caoping_address as cloud_caoping_address,
        lg.cloud_caoping_prices as cloud_caoping_prices,
        lpro.pname as provinceName,
        lcity.cityName as cityName,
        larea.areaName as areaName

        from PAOPAO_SHOPPING_ORDER ord
        LEFT JOIN lx_emp le ON ord.emp_id=le.emp_id
        LEFT JOIN lx_emp les ON ord.seller_emp_id=les.emp_id
        LEFT JOIN cloud_caoping lg ON ord.cloud_caoping_id=lg.cloud_caoping_id
        LEFT JOIN province lpro ON lpro.provinceid=ord.PROVINCEID
        LEFT JOIN city lcity ON lcity.cityid=ord.CITYID
        LEFT JOIN area larea ON larea.areaid=ord.AREAID
        WHERE ord.ORDER_NO=#{id}
    </select>

    <select id="income" resultType="Float">
        SELECT sum(pso.PAYABLE_AMOUNT) FROM PAOPAO_SHOPPING_ORDER pso
        LEFT JOIN LX_EMP lp ON pso.SELLER_EMP_ID=lp.EMP_ID
        WHERE '1'='1'
        <if test="empId != null and empId != ''">
            AND pso.SELLER_EMP_ID=#{empId}
        </if>
        <if test="status != null and status != ''">
            AND pso.STATUS=#{status}
        </if>
        <if test="startTime != null and startTime != ''">
            AND pso.COMPLETION_TIME &gt; #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND pso.COMPLETION_TIME &lt; #{endTime}
        </if>
    </select>

    <select id="settlement" resultMap="settlement">
        SELECT sum(pso.PAYABLE_AMOUNT) as income, sum(pso.isAccount) as isAccount FROM PAOPAO_SHOPPING_ORDER pso
        LEFT JOIN LX_EMP lp ON pso.SELLER_EMP_ID=lp.EMP_ID
        WHERE pso.STATUS='5' AND pso.COMPLETION_TIME &gt; #{startTime} AND pso.COMPLETION_TIME &lt; #{endTime}
        AND pso.PAY_STATUS='1'
        <if test="empId != null and empId != ''">
            AND pso.SELLER_EMP_ID=#{empId}
        </if>
    </select>

    <update id="updateOrderStatus" parameterType="String">
        UPDATE PAOPAO_SHOPPING_ORDER SET STATUS='5' ,COMPLETION_TIME=#{time}, ACCEPT_TIME=#{time}
        WHERE #{time}-PAY_TIME &gt;#{period} AND PAY_STATUS='1' AND STATUS = '6'
    </update>

    <update id="updateOrderAccount">
        UPDATE PAOPAO_SHOPPING_ORDER SET ISACCOUNT='1' WHERE SELLER_EMP_ID=#{empId}
        AND STATUS='5' AND PAY_STATUS='1'
        AND COMPLETION_TIME &gt; #{startTime}
        AND COMPLETION_TIME &lt; #{endTime}
    </update>


    <select id="listOrdersEnd" resultMap="my_order_vo" parameterType="String">
      SELECT ord.* ,
        le.emp_mobile as emp_mobile,
        le.emp_name as emp_name,
        le.emp_cover as emp_cover,

        les.emp_mobile as emp_mobile_seller,
        les.emp_name as emp_name_seller,
        les.emp_cover as emp_cover_seller,

        lg.cloud_caoping_title as cloud_caoping_title,
        lg.cloud_caoping_pic as cloud_caoping_pic,
        lg.cloud_caoping_address as cloud_caoping_address,
        lg.cloud_caoping_prices as cloud_caoping_prices,
        lpro.pname as provinceName,
        lcity.cityName as cityName,
        larea.areaName as areaName

        from PAOPAO_SHOPPING_ORDER ord
        LEFT JOIN lx_emp le ON ord.emp_id=le.emp_id
        LEFT JOIN lx_emp les ON ord.seller_emp_id=les.emp_id
        LEFT JOIN cloud_caoping lg ON ord.cloud_caoping_id=lg.cloud_caoping_id
        LEFT JOIN province lpro ON lpro.provinceid=ord.PROVINCEID
        LEFT JOIN city lcity ON lcity.cityid=ord.CITYID
        LEFT JOIN area larea ON larea.areaid=ord.AREAID
        WHERE '1'='1'
        AND #{time}-ord.PAY_TIME &gt;#{period}
        AND ord.PAY_STATUS='1' AND (ord.STATUS = '6' OR  ord.STATUS = '2')
    </select>


    <select id="countDay" resultType="Long">
        SELECT count(ord.ORDER_NO) FROM PAOPAO_SHOPPING_ORDER ord
        WHERE '1'='1'
        AND ord.create_time &gt; #{startTime}
        AND ord.create_time &lt; #{endTime}
    </select>
</mapper>