<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.PaihangObjDao">
    <resultMap id="paihang" type="com.liangxunwang.unimanager.model.PaihangObj">
        <id column="mm_paihang_id" property="mm_paihang_id"/>
        <result column="cloud_caoping_id" property="cloud_caoping_id"/>
        <result column="top_num" property="top_num"/>
        <result column="is_del" property="is_del"/>
        <result column="end_time" property="end_time"/>
    </resultMap>
    <resultMap id="paihang_vo" type="com.liangxunwang.unimanager.mvc.vo.PaihangObjVO">
        <id column="mm_paihang_id" property="mm_paihang_id"/>
        <result column="goods_id" property="goods_id"/>
        <result column="top_num" property="top_num"/>
        <result column="is_del" property="is_del"/>
        <result column="end_time" property="end_time"/>

        <result column="emp_id" property="emp_id"/>
        <result column="cloud_caoping_title" property="cloud_caoping_title"/>
        <result column="cloud_caoping_content" property="cloud_caoping_content"/>
        <result column="cloud_caoping_prices" property="cloud_caoping_prices"/>
        <result column="cloud_caoping_guige_id" property="cloud_caoping_guige_id"/>
        <result column="cloud_caoping_type_id" property="cloud_caoping_type_id"/>
        <result column="cloud_caoping_pic" property="cloud_caoping_pic"/>
        <result column="cloud_caoping_use_id" property="cloud_caoping_use_id"/>
        <result column="cloud_caoping_address" property="cloud_caoping_address"/>
        <result column="cloud_caoping_dateline" property="cloud_caoping_dateline"/>
        <result column="cloud_is_use" property="cloud_is_use"/>
        <result column="cloud_is_del" property="cloud_is_del"/>
        <result column="sale_count" property="sale_count"/>
        <result column="lat" property="lat"/>
        <result column="lng" property="lng"/>
        <result column="cloud_caozhong_type_id" property="cloud_caozhong_type_id"/>
        <result column="cloud_caozhong_guige_id" property="cloud_caozhong_guige_id"/>
        <result column="cloud_caozhong_guige_cont" property="cloud_caozhong_guige_cont"/>
        <result column="cloud_caozhong_type_cont" property="cloud_caozhong_type_cont"/>
        <result column="cloud_jixie_use_id" property="cloud_jixie_use_id"/>
        <result column="cloud_jixie_guige_id" property="cloud_jixie_guige_id"/>
        <result column="cloud_jixie_guige_cont" property="cloud_jixie_guige_cont"/>
        <result column="cloud_jixie_use_cont" property="cloud_jixie_use_cont"/>
        <result column="emp_name" property="emp_name"/>
        <result column="emp_cover" property="emp_cover"/>
        <result column="cloud_caoping_guige_cont" property="cloud_caoping_guige_cont"/>
        <result column="cloud_caoping_type_cont" property="cloud_caoping_type_cont"/>
        <result column="cloud_caoping_use_cont" property="cloud_caoping_use_cont"/>
        <result column="is_type" property="is_type"/>
    </resultMap>

    <select id="lists" resultMap="paihang_vo">
        SELECT m.*
        FROM (
        SELECT sn.*
        ,lg.emp_id as emp_id
        ,lg.cloud_caoping_title as cloud_caoping_title
        ,lg.cloud_caoping_content as cloud_caoping_content
        ,lg.cloud_caoping_prices as cloud_caoping_prices
        ,lg.cloud_caoping_guige_id as cloud_caoping_guige_id
        ,lg.cloud_caoping_type_id as cloud_caoping_type_id
        ,lg.cloud_caoping_pic as cloud_caoping_pic
        ,lg.cloud_caoping_use_id as cloud_caoping_use_id
        ,lg.cloud_caoping_address as cloud_caoping_address
        ,lg.cloud_caoping_dateline as cloud_caoping_dateline
        ,lg.cloud_is_use as cloud_is_use
        ,lg.cloud_is_del as cloud_is_del
        ,lg.sale_count as sale_count
        ,lg.lat as lat
        ,lg.lng as lng
        ,lg.cloud_caozhong_type_id as cloud_caozhong_type_id
        ,lg.cloud_caozhong_guige_id as cloud_caozhong_guige_id
        ,lg.cloud_jixie_use_id as cloud_jixie_use_id
        ,lg.cloud_jixie_guige_id as cloud_jixie_guige_id
        ,lg.is_type as is_type

        ,le.emp_name as emp_name, le.emp_cover as emp_cover
        ,lggcp.cloud_caoping_guige_cont as cloud_caoping_guige_cont
        ,lusecp.cloud_caoping_use_cont as cloud_caoping_use_cont
        ,ltypecp.cloud_caoping_type_cont as cloud_caoping_type_cont

        ,lggjx.cloud_jixie_guige_cont as cloud_jixie_guige_cont
        ,lusejx.cloud_jixie_use_cont as cloud_jixie_use_cont

        ,lggcz.cloud_caozhong_guige_cont as cloud_caozhong_guige_cont
        ,ltypecz.cloud_caozhong_type_cont as cloud_caozhong_type_cont

        from mm_paihang sn
        LEFT JOIN cloud_caoping lg ON sn.cloud_caoping_id=lg.cloud_caoping_id

        LEFT JOIN lx_emp le ON le.emp_id = lg.emp_id
        LEFT JOIN cloud_caoping_guige lggcp ON lggcp.cloud_caoping_guige_id = lg.cloud_caoping_guige_id
        LEFT JOIN cloud_caoping_use lusecp ON lusecp.cloud_caoping_use_id = lg.cloud_caoping_use_id
        LEFT JOIN cloud_caoping_type ltypecp ON ltypecp.cloud_caoping_type_id = lg.cloud_caoping_type_id

        LEFT JOIN cloud_jixie_guige lggjx ON lggjx.cloud_jixie_guige_id = lg.cloud_jixie_guige_id
        LEFT JOIN cloud_jixie_use lusejx ON lusejx.cloud_jixie_use_id = lg.cloud_jixie_use_id

        LEFT JOIN cloud_caozhong_guige lggcz ON lggcz.cloud_caozhong_guige_id = lg.cloud_caozhong_guige_id
        LEFT JOIN cloud_caozhong_type ltypecz ON ltypecz.cloud_caozhong_type_id = lg.cloud_caozhong_type_id

        WHERE 1=1

        <if test="is_del != null and is_del != ''">
            AND sn.is_del = #{is_del}
        </if>

        <if test="cloud_caoping_id != null and cloud_caoping_id != ''">
            AND sn.cloud_caoping_id = #{cloud_caoping_id}
        </if>

        <if test="keyword != null and keyword != ''">
            AND  (lg.cloud_caoping_title like CONCAT('%',#{keyword},'%')
            OR lg.cloud_caoping_content like CONCAT('%',#{keyword},'%')
            OR le.emp_name like CONCAT('%',#{keyword},'%')
            OR lggcp.cloud_caoping_guige_cont like CONCAT('%',#{keyword},'%')
            OR lusecp.cloud_caoping_use_cont like CONCAT('%',#{keyword},'%')
            OR ltypecp.cloud_caoping_type_cont like CONCAT('%',#{keyword},'%')
            OR lggjx.cloud_jixie_guige_cont like CONCAT('%',#{keyword},'%')
            OR lusejx.cloud_jixie_use_cont like CONCAT('%',#{keyword},'%')
            OR lggcz.cloud_caozhong_guige_cont like CONCAT('%',#{keyword},'%')
            OR ltypecz.cloud_caozhong_type_cont like CONCAT('%',#{keyword},'%')
            )
        </if>
        ) m
        ORDER  BY  m.top_num DESC limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.mm_paihang_id)
        from mm_paihang sn
        LEFT JOIN cloud_caoping lg ON sn.cloud_caoping_id=lg.cloud_caoping_id

        LEFT JOIN lx_emp le ON le.emp_id = lg.emp_id
        LEFT JOIN cloud_caoping_guige lggcp ON lggcp.cloud_caoping_guige_id = lg.cloud_caoping_guige_id
        LEFT JOIN cloud_caoping_use lusecp ON lusecp.cloud_caoping_use_id = lg.cloud_caoping_use_id
        LEFT JOIN cloud_caoping_type ltypecp ON ltypecp.cloud_caoping_type_id = lg.cloud_caoping_type_id

        LEFT JOIN cloud_jixie_guige lggjx ON lggjx.cloud_jixie_guige_id = lg.cloud_jixie_guige_id
        LEFT JOIN cloud_jixie_use lusejx ON lusejx.cloud_jixie_use_id = lg.cloud_jixie_use_id

        LEFT JOIN cloud_caozhong_guige lggcz ON lggcz.cloud_caozhong_guige_id = lg.cloud_caozhong_guige_id
        LEFT JOIN cloud_caozhong_type ltypecz ON ltypecz.cloud_caozhong_type_id = lg.cloud_caozhong_type_id

        WHERE 1=1

        <if test="is_del != null and is_del != ''">
            AND sn.is_del = #{is_del}
        </if>

        <if test="cloud_caoping_id != null and cloud_caoping_id != ''">
            AND sn.cloud_caoping_id = #{cloud_caoping_id}
        </if>

        <if test="keyword != null and keyword != ''">
            AND  (lg.cloud_caoping_title like CONCAT('%',#{keyword},'%')
            OR lg.cloud_caoping_content like CONCAT('%',#{keyword},'%')
            OR le.emp_name like CONCAT('%',#{keyword},'%')
            OR lggcp.cloud_caoping_guige_cont like CONCAT('%',#{keyword},'%')
            OR lusecp.cloud_caoping_use_cont like CONCAT('%',#{keyword},'%')
            OR ltypecp.cloud_caoping_type_cont like CONCAT('%',#{keyword},'%')
            OR lggjx.cloud_jixie_guige_cont like CONCAT('%',#{keyword},'%')
            OR lusejx.cloud_jixie_use_cont like CONCAT('%',#{keyword},'%')
            OR lggcz.cloud_caozhong_guige_cont like CONCAT('%',#{keyword},'%')
            OR ltypecz.cloud_caozhong_type_cont like CONCAT('%',#{keyword},'%')
            )
        </if>
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.PaihangObj">
        INSERT INTO mm_paihang( mm_paihang_id, cloud_caoping_id, top_num, is_del, end_time)
        VALUES ( #{mm_paihang_id},#{cloud_caoping_id}, #{top_num}, #{is_del}, #{end_time})
    </insert>

    <update id="deleteById" parameterType="String">
        UPDATE mm_paihang SET is_del=1 WHERE mm_paihang_id=#{mm_paihang_id}
    </update>

    <update id="updateTop"  parameterType="com.liangxunwang.unimanager.model.PaihangObj">
        UPDATE mm_paihang SET top_num = #{top_num}, is_del = #{is_del}, end_time = #{end_time}
        WHERE mm_paihang_id=#{mm_paihang_id}
    </update>


    <update id="updateOverTime">
        UPDATE mm_paihang SET is_del='1' WHERE end_time &lt; #{nowTime}
    </update>

    <select id="findById" resultMap="paihang_vo">
        SELECT sn.*,lg.cloud_caoping_title as cloud_caoping_title
        from mm_paihang sn
         LEFT JOIN cloud_caoping lg ON sn.cloud_caoping_id=lg.cloud_caoping_id
        WHERE sn.mm_paihang_id=#{mm_paihang_id}
    </select>

    <select id="findByGoodsId" resultMap="paihang_vo">
        SELECT sn.*
        from mm_paihang sn
        WHERE sn.cloud_caoping_id=#{cloud_caoping_id}
    </select>


</mapper>